.centered {
   text-align: center;
   background-color: rgb(127, 255, 159);
   font-style: normal;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}; 

