.centered {
   text-align: center;
   background-color: rgb(127, 146, 255);
   padding: 40px;
   font-style: normal;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}; 

.body {
   background-color: rgb(175, 126, 62),
   textDecoration "underline",
   
}

.button {
   border: none;
   border-radius: 8px;
}
